body {
    background-color: cadetblue;
    font-family: 'Times New Roman', Times, serif ;
}
img {
    width: 300px;
    height: 300px;
    box-shadow: black 20px 20px 25px;
}
h5,h4,b {
color: white;
font-size: 35px ;
}
p {
    font: size 40px;
}